
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 18px;
    a{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
        align-items: center;
    }
}
.form_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    h2{
        margin-bottom: 34px;
    }
    .input_group{
        input{
            margin-right: 10px;
            padding: 10px 10px;
        }
        input:focus{
            outline:0px none transparent;
        }
        margin-top: 20px;
        padding: 0px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
