.body_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25%;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding: 10px;
    height: 300px;
    margin-bottom: 100px;
    .quote{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
    }
    input{
        width: 100%;
        padding: 6px 4px;
    }
    input::placeholder{
        color: #2B2D42;
    }
    input:focus{
        outline:0px none transparent;
    }

}

@media screen and (max-width: 696px){
    .search_wrapper{
        flex-direction: row;
        margin-right: 10%;
    }
}