.main_search_wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        text-align: start;
        min-width: 60%;
        padding: 10px 10px;
    }
    input::placeholder{
        color: #2B2D42;
    }
    input:focus{
        outline:0px none transparent;
    }
}
.post_user{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 8px;
    width: 80%;
    margin: 10px 0px;
    border-bottom: 1px solid silver;
    .profile_logo{
        border-radius: 50%;
        border: 2px solid silver;
        width: 85px;
        height: 85px;
        margin-right: 45px;
        margin-left: 20px;
    }
}