.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
    a{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
        align-items: center;
    }
}

.wrapper{
    margin: 0 auto;
    width: 50%;
    margin-top: 60px;
    text-align: center;
    .one_liner{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
        margin: 30px;
    }
    .example{
        margin: 30px;
    }
    .example_p{
        font-size: 25px;
        font-weight: 200;
        letter-spacing: -2px;
        opacity: 0.9;
    }
    .example_p_text{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
    }
    .mission{
        margin-top: 60px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: #FFF;
    }
}

@media screen and (max-width: 1200px){
    .wrapper{
        width: 60%;
    }
}
@media screen and (max-width: 1000px){
    .wrapper{
        width: 70%;
    }
}
@media screen and (max-width: 720px){
    .wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 530px){
    .wrapper{
        width: 90%;
        margin-top: 30px;
    }
}